{% extends "base.html" %}
{% block title %}Hello {{user_name}}!{% endblock %}

{% block content %}
<p>Hello! You have Logged in as {{ user_name }}!</p>
<a href="/new_entry/">Create New Entry</a>
<a href="/logged_out/">Log Out</a>
{% for entry in entries %}
    <div class="entry">
        <h3>Date: {{ entry.date }}</h3>
        <p>Mood Rating: {{ entry.rating }}</p>
        <p>Mood: {{ entry.mood }}</p>
        <p>{{ entry.content }}</p>
        <a href="{{ url_for('edit_entry', entry_id=entry._id) }}">Edit Entry</a>
        <a href="{{ url_for('delete_entry', entry_id=entry._id) }}">Delete Entry</a>
    </div>
{% endfor %}
{% endblock %}